  $lt-gray: #ddd;
  $background-dark: #008080;
  $background-light: #89c5c5;
  $background-pale: #D1C4E9;
  
  @mixin zero-margin($pad-up-down, $pad-left-right) {
      margin: 0px auto;
      padding: $pad-up-down $pad-left-right;
  }
  
  .jumbotron {
      @include zero-margin(70px,30px);
      background: $background-light ;
      color:floralwhite;
      min-height: 150px;
  }

  .active {
      background: $background-light;
  }