  
  <!-- Materials Toolbar with links to each page  -->
  <mat-toolbar class=toolbar>
    <span><img src="/assets/images/logo2.png" height=30 width=41></span>
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>    
    <a mat-button routerLink="/album" routerLinkActive="active"><span class="fa fa-list fa-lg"></span> Discs</a>
    <a mat-button routerLink="/search" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> Search</a>
    <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  
    <span class="flex-spacer"></span>
    <span mat-button *ngIf="hasRoute('/album')" class="fa fa-download fa-lg"> Download:</span> 
    <a mat-button *ngIf="hasRoute('/album')"><span class="fa fa-file-excel-o fa-lg"></span> Spreadsheet</a>
    <a mat-button (click)="downloadZip()" *ngIf="hasRoute('/album')"><span class="fa fa-file-image-o fa-lg"></span> Images</a>    
    <a mat-button *ngIf="hasRoute('/home')" (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
    <a mat-button *ngIf="hasRoute('/home')" (click)="logout()"><span class="fa fa-sign-out fa-lg"></span> Logout</a>
  </mat-toolbar>
  
  <!-- Jumbotron -->
  <div class="container jumbotron"
      fxLayout="row"
      fxLayout.sm="column" 
      fxLayout.xs="column" 
      fxLayoutAlign.xs="start center"
      fxLayoutAlign.sm="start center" 
      fxLayoutAlign.gt-sm="center center" 
      fxLayoutGap="10px">
  
    <!-- Main header with website logo -->
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>My Favorite Discs</h1>
      <p>Everyone has an opinion, especially when it comes to music.  Your opinions about music are shaped by a lot of personal things that make you uniquely you.  This is the music you need to hear no matter who you are.</p>
    </div>
    <div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/logo2.png" alt="Logo">
    </div>

    <div fxFlex></div>
  </div>