<div class="container" 
        fxLayout="row"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign.gt-md="space-around center"
        fxLayoutGap="10px"
        fxLayoutGap.xs="0">

        <div fxFlex="30" *ngIf="disc">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{disc.title | uppercase}}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="{{BaseURL + disc.image}}" alt={{disc.artist}}>
                <mat-card-content>
                    <p>{{ disc.description }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="goBack()">BACK</button>
                    <button mat-button>LIKE</button>
                </mat-card-actions>
            </mat-card>            
        </div>

</div>