


.mat-column-id {
    flex: 0 0 20% !important;
    min-width: 100px !important;
    text-align: center !important;
}

.mat-column-title {
    flex: 0 0 20% !important;
    min-width: 100px !important;
    text-align: center !important;
}

.mat-header-artist {
    flex: 0 0 20% !important;
    min-width: 100px !important;
    text-align: center !important;
}

.mat-column-artist {
    flex: 0 0 20% !important;
    min-width: 70px !important;
    text-align: center !important;
}


