
<div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Search for an Album</h3>
    <p>{{discsearchForm.value | json}} {{discsearchForm.status}}</p>
    <p *ngIf="!discsearchForm.valid && discsearchForm.dirty">Invalid input.</p>

    <form novalidate [formGroup]="discsearchForm" #fform="ngForm" (ngSubmit)="onSubmit()" >
        <p>
            <mat-form-field class="tenth-width">
                <textarea matInput ngModel pattern="(((\d){1,2}){1})((\n)+(((\d){1,2}){1}))*(\n)*" formControlName="id" placeholder="IDs" type="textarea" rows=12></textarea>
                <mat-error *ngIf="discsearchForm.get('id').hasError('required') && discsearchForm.get('id').touched">ID is required</mat-error>
            </mat-form-field>            
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="fform.form.invalid"> Submit</button>
        <hr>
    </form>
</div>
